body {

    color: #f7f7f7;
  }
  .jumbotron {
    background-image: url("C:\Users\priya\OneDrive\Desktop\Data_Analysis_Class\Housing_Price_Analysis\Static\Images\house.jpg");
    background-size: 100% 100%;
    text-align: center;
  }