<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> house price prediction</title>
</head>
<body>
    </h1>Pedicting the house prices using linear regression </h1>
    <p>Please enter the parementers</p>

    <form action= http://127.0.0.1:5000/getresults method="POST">
        <p> Date <input type="date" name="Date"> </p>
        <p> Mortgage_rate <input type="int" name="Mortgage_rate"> </p>
        <p> Immigrants <input type="int" name="Immigrants"> </p>

        <p><input type="Submit" value="Submit Details"></p>

        
    </form>

</body>
</html>