<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Canadian House Price Analysis</title>
   <link
   rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
   crossorigin="anonymous"
   />
   <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
   <div class="wrapper">
      <div class="jumbotron">
         <h1 class="display-4">Housing Data From 2005-2021</h1>
      </div> 
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-3">
                 <h3>Canadian House Prices: Will Rise or Drop? <small>Analysis is here</small></h3>
            </div>
            <div class="col-md-9">
               <p>
                  Canada is one of the top real estate market in world. The aftermath of covid pandemic and economic downturn has slowed down real estate market of Canada with declining sales in 2022. However, real estate market in Canada is very competitive and is often considered by majority of people as best long term investment.<br><br>


                   "The release of this analysis is well-timed: It contains various factors which has impacted the Canadian house prices for last various years. This include Time, Average house prices, mortgage rates, immigrants and composite HPI."
                   <br><br>
                   Below table will display the changing house prices data 2005 to 2012 along with other factors which has directly or indirectly affected the price to rise and fall.
                   <br> 
               </p>
           </div>
         </div>
      </div>
      <div class="col-md-9">
         <table class="table table-striped">
            <thead>
               <tr>
                 <th>Date</th>
                 <th>Composite_hpi_sa</th>
                 <th>Composite_benchmark_sa</th>
                 <th>mortgage_rate</th>
                 <th>immigrants</th>
               </tr>
            </thead>
            <tbody></tbody>
         </table>
       </div>
   </div>


   </div>


</body>
</html>